<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
</head>
<body>
  <!DOCTYPE html>
  <html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JS Bin</title>
  </head>
  <body>
    
    <div>
      <div class="container" style="margin-top: 20px;">
        <div class="row" style="margin-bottom: 20px;">
          <div class="dropdown col-1">
            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownRutina" aria-haspopup="true" aria-expanded="false">
              Rutina
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownRutina">
              {% if datosRutinas %}
                {% for rut in datosRutinas %}
                  <a class="dropdown-item">{{rut.1}}</a>
                {% endfor %}
              {% else %}
                <a class="dropdown-item">No tiene rutinas</a>
              {% endif %}
            </div>
          </div>
          <div class="col-md-auto">

          </div>  
        </div>
        <div class="text-center" hidden>
          <h2>Rutina</h2>
        </div>
        <div class="form-group">
          <div class="row text-center">
            <label>ejercicio</label>
          </div>
          <div class="row text-center">
            <label>informacion ejercicio</label>
          </div>
          <div class="row justify-content-center">
            <div class="col-3 text-center">
              <h5 >Peso</h5>
              <input type="text" class="form-control" style="margin-bottom: 10px;">
              <input type="text" class="form-control" style="margin-bottom: 20px;">
              <input type="text" class="form-control" style="margin-bottom: 20px;">
            </div>
            <div class="col-3 text-center">
              <h5 >Repeticiones</h5>
              <input type="text" class="form-control" style="margin-bottom: 20px;">
              <input type="text" class="form-control" style="margin-bottom: 20px;">
              <input type="text" class="form-control" style="margin-bottom: 20px;">
            </div>
            <div class="col-3 text-center">
              <h5 >Descansos</h5>
              <input type="text" class="form-control" style="margin-bottom: 20px;">
              <input type="text" class="form-control" style="margin-bottom: 20px;">
              <input type="text" class="form-control" style="margin-bottom: 20px;">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row text-center">
            <label>ejercicio</label>
          </div>
          <div class="row text-center">
            <label>informacion ejercicio</label>
          </div>
          <div class="row justify-content-center">
            <div class="col-3 text-center">
              <h5 >Peso</h5>
              <input type="text" class="form-control" style="margin-bottom: 20px;">
              <input type="text" class="form-control" style="margin-bottom: 20px;">
              <input type="text" class="form-control" style="margin-bottom: 20px;"> 
            </div>
            <div class="col-3 text-center">
              <h5>Repeticiones</h5>
              <input type="text" class="form-control" style="margin-bottom: 20px;">
              <input type="text" class="form-control" style="margin-bottom: 20px;">
              <input type="text" class="form-control" style="margin-bottom: 20px;">
            </div>
            <div class="col-3 text-center">
              <h5 >Descansos</h5>
              <input type="text" class="form-control" style="margin-bottom: 20px;">
              <input type="text" class="form-control" style="margin-bottom: 20px;">
              <input type="text" class="form-control" style="margin-bottom: 20px;">
            </div>
          </div>
        </div>

      </div>

      <div class="container" style="margin-top: 20px;">
        <div class="d-grid gap-2">
          <button type="button" class="btn btn-primary btn-lg btn-block" disabled>Terminar Rutina</button>
        </div>
      </div>
    </div>
      
      </script>
  </body>
  </html>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
</body>
</html>